:root {
	--color-light-blue-100: #F3F5FC;

	--color-dark-blue-300: #0A3871;

	--color-gray-400: #495057;
	--color-gray-500: #343A40;

	--white: #ffffff;
}

textarea {
	background-color: transparent !important;
	border: 0 !important;
	color: #0A3871 !important;
	font-size: 32px !important;
	font-family: Inter !important;
	font-weight: 400 !important;
	line-height: 48px !important;
	word-wrap: break-word !important;
	resize: none !important;
}

textarea::placeholder {
	color: var(--color-dark-blue-300);
	opacity: 1; /* Firefox */
}

textarea::-ms-input-placeholder { /* Edge 12 -18 */
	color: var(--color-dark-blue-300);
}

textarea:focus {
	outline: none;
}

div.buttons .filled {
	background: var(--color-dark-blue-300); 
	color: var(--white);
}

div.buttons .transparent-button {
	background: transparent; 
	border: 1px solid var(--color-dark-blue-300);
	color: var(--color-dark-blue-300);
}

p.text-format {
	display: flex;
	gap: 0.5rem;
	color: var(--color-gray-400);
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 18px;
	word-wrap: break-word;
}

sidebar.sidebar-message {
	background-color: var(--white);
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
	border-radius: 32px;
}

sidebar.sidebar-message .sidebar-empty-state img {
	width: 336px;
	height: 304px;
}

sidebar.sidebar-message .sidebar-empty-state p strong {
	color: var(--color-gray-500);
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 28.80px;
	word-wrap: break-word;
}

sidebar.sidebar-message .sidebar-empty-state p {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	text-align: center;
	color: var(--color-gray-400);
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
}

sidebar.sidebar-message .sidebar-content {
	color: var(--color-gray-400);
	word-wrap: break-word;
}

sidebar.sidebar-message .sidebar-content .input-text-decoding {
	display: flex;
	width: 100%;
}

sidebar.sidebar-message .sidebar-content button.transparent-button {
	background-color: transparent;
	padding: 1.5rem; 
	border-radius: 1.5rem; 
	font-size: 1rem;
	justify-content: center; 
	align-items: center; 
	display: inline-flex;
	text-align: center;
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: white;
}

footer a {
	text-decoration: none;
	color: var(--color-gray-500)
}
